apiVersion: v1
kind: PersistentVolume
metadata:
  name: hmy-volume
  labels:
    type: local
    backupType: {{ .Values.threefoldVdc.backup | quote }}
spec:
  storageClassName: local-path
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/hmydata"
